@import "tailwindcss";

@font-face {
  font-family: 'Lausanne-300';
  src: url(../public/fonts/Lausanne-300.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lausanne-500';
  src: url(../public/fonts/Lausanne-500.woff2);
  font-weight: 500;
  font-style: normal;
}

body {
  overflow-x: hidden;
}