@import "tailwindcss";
@import 'locomotive-scroll/dist/locomotive-scroll.css';

@font-face {
  font-family: 'Lausanne-300';
  src: url(../public/fonts/Lausanne-300.woff2);
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lausanne-500';
  src: url(../public/fonts/Lausanne-500.woff2);
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary-color: #D3FD50;
}

body {
  overflow-x: hidden;
}

.bg-primary {
  background-color: var(--primary-color);
}

.text-primary {
  color: var(--primary-color);
}

@theme {
  --color-primary: var(--primary-color);
}